*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content:"";
    display: table;
    clear:both;
}
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1,h2 {
    color: green;

}

h1 {
    font-size: 40px;
}

h2 {
    
    font-size: 25px 
}

.main-text{
    text-align: justify;

}
.title {
    color: red
}
img {
    width: 400px;
    height: 300px;
}
.author size{
    font-size: 24px
}

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
.container {
    width: 1140px;
    margin top right bottom left;
    margin top:20px auto 0 auto;

}
.blog post {
    width: 75%;
    float: left;
    padding-right: 30px;
}

.other-post {
    width: 25%;
    float: left;
}

.footer {
    padding-top: 20px;
    border-top: 1px solid #000000;
}
.others {
    margin-bottom: 40px;

}

.footer img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}